h1 {
  text-align: center;
  font-size: 40px;
  font-family: Arial;
  color: #2E64FE;
}

h2 {
  text-align: left;
  font-size: 20px;
  color: #2E9AFE;
}
h3{
  text-align: left;
  font-size: 16;
  margin-left: 40px;
  color: #2E9AFE;
}

body {
  background-color:#FFFFFF;
  }

.contenedor {
  overflow: hidden;
  }

.recuadroarriba{
    padding-top: 10px;
  }

.recuadroabajo{
    padding-top: 10px;
  }

.contenidodentroarriba {
      float: left;
      font-size: 15px;
      line-height: 20px;
      padding: 0 20px;
      text-align: justify;
      width: 50%;
      color: #000;
  }

.contenidodentroabajo {
        float: left;
        font-size: 15px;
        line-height: 20px;
        padding: 170px 20px;
        text-align: justify;
        width: 50%;
        color: #000;
    }

.imagen {
  float: right;
  margin-right: 70px;
  padding-top: 90px;
}

.textopropiedadescss{
  margin-left: 40px;
  font-size: 14px;
}

#PropiedadesCSS {
padding-top: 30px;
}

footer{
  text-align: center;
  background: ;
  font-size:
}
